/*-----------------------------------------*\
  #TEXT CLASSES
\*-----------------------------------------*/

.text {
  font-family: var(--primary-font);
}

.text--center {
  width: 100%;
  text-align: center;
}

.text--light {
  color: var(--light-color);
}

.text--dark {
  color: var(--dark-color);
}

.text--primary {
  color: var(--primary-color);
}

.text--secondary {
  color: var(--secondary-color);
}

.text--gray {
  color: var(--gray-color);
}

.text--small {
  font-weight: var(--fw-regular);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.text--big {
  font-weight: var(--fw-bold);
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}
